<footer class="footer" role="contentinfo">
  <div class="container">  
    <div class="footer__flex-container" layout="row center-left">
      
      <div class="">
        <div class="footer__label">Want to see more?</div>
        <div class=""><a href="#" class="footer__link">Book a tour</a></div>
      </div>
    
      <div class="footer__contact--section">
        <div class="footer__label">Have a question?</div>
        <div class=""><a href="#" class="footer__link">Get in touch</a></div>
      </div>

      <div self="right">
        <a href="https://library.virginia.edu">
          <img src="{{ site.baseurl }}/images/rotunda-logo.svg" class="footer__logo" alt="University of Virginia Library logo">
        </a>
      </div>

    </div>
  </div>
</footer>
