<div class="container">
  <footer class="mega-footer" role="contentinfo">
    <div layout="rows top-spread">
      <div self="size-1of4">
        <h2 class="mega-footer--heading">Contact</h2>
        <ul class="mega-footer--link-list">
          <li>
            <a href="#">(434) 924-3021</a>
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            <a href="#">Ask a Librarian</a>
            <address role=”contentinfo”>
              Alderman Library <br>
              160 McCormick Road <br>
              Charlottesville, VA 22903
            </address>
          </li>
        </ul>
      </div>
      <div self="size-1of4">
        <h2 class="mega-footer--heading">About the Library</h2>
        <ul class="mega-footer--link-list">
          <li>
            <a href="#">Hours</a>
            <a href="#">Staff Directory</a>
            <a href="#">Jobs</a>
            <a href="#">Press</a>
            <a href="#">Fellowships</a>
          </li>
        </ul>
      </div>
      <div self="size-1of4">
        <h2 class="mega-footer--heading">Help & Assistance</h2>
        <ul class="mega-footer--link-list">
          <li>
            <a href="#">FAQs</a>
            <a href="#">Off-Grounds Access</a>
            <a href="#">ITS Computing</a>
            <a href="#">Accessibility</a>
            <a href="#">Library Policies</a>
          </li>
        </ul>
      </div>
      <div self="size-1of4">
        <h2 class="mega-footer--heading">Related Resources</h2>
        <ul class="mega-footer--link-list">
          <li>
            <a href="#">UVA Home</a>
            <a href="#">SIS</a>
            <a href="#">UVA Collab</a>
            <a href="#">Cavalier Advantage</a>
            <a href="#">Library Staff</a>
            <a href="#">Tracking Opt-out</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
