<div class="container">
  <footer class="mega-footer" role="contentinfo">
    <div layout="rows top-spread">
      <div self="size-1of4">
        <h5 class="mega-footer--heading">Contact</h5>
        <ul class="mega-footer--link-list">
          <li>
            <span>(434) 924-3021<span>
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            <a href="http://www.library.virginia.edu/askalibrarian/">Ask a Librarian</a>
            <address role=”contentinfo”>
              Alderman Library <br>
              160 McCormick Road <br>
              Charlottesville, VA 22903
            </address>
          </li>
        </ul>
      </div>
      <div self="size-1of4">
        <h5 class="mega-footer--heading">About the Library</h5>
        <ul class="mega-footer--link-list">
          <li>
            <a href="http://cal.lib.virginia.edu/hours/">Hours</a>
            <a href="http://static.lib.virginia.edu/directory/">Staff Directory</a>
            <a href="http://www.library.virginia.edu/jobs/">Jobs</a>
            <a href="http://www.library.virginia.edu/press/">Press</a>
            <a href="http://www.library.virginia.edu/jobs/fellowships/">Fellowships</a>
          </li>
        </ul>
      </div>
      <div self="size-1of4">
        <h5 class="mega-footer--heading">Help & Assistance</h5>
        <ul class="mega-footer--link-list">
          <li>
            <a href="http://answers.lib.virginia.edu/">FAQs</a>
            <a href="http://www.library.virginia.edu/services/off-grounds-access/">Off-Grounds Access</a>
            <a href="http://its.virginia.edu/accounts/createacct.html">ITS Computing</a>
            <a href="http://www.library.virginia.edu/services/accessibility-services/">Accessibility</a>
            <a href="http://www.library.virginia.edu/policies/">Library Policies</a>
          </li>
        </ul>
      </div>
      <div self="size-1of4">
        <h5 class="mega-footer--heading">Related Resources</h5>
        <ul class="mega-footer--link-list">
          <li>
            <a href="http://www.virginia.edu/">UVA Home</a>
            <a href="http://its.virginia.edu/home.php">SIS</a>
            <a href="https://collab.itc.virginia.edu/portal">UVA Collab</a>
            <a href="https://collab.itc.virginia.edu/portal">Cavalier Advantage</a>
            <a href="https://staffweb.lib.virginia.edu/">Library Staff</a>
            <a href="http://analytics.lib.virginia.edu/index.php?module=CoreAdminHome&action=optOut&language=en">Tracking Opt-out</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
