<section class="gallery-info" aria-labelledby="information">
  <h2 id="information" class="section__heading light">Gallery information</h2>
  <div class="container">
    <div layout="rows stretch-center">
      <div class="gallery-info__item" self="sm-full size-1of2">
        <div class="gallery-info__title">Visit the exhibition</div>
        <div class="gallery-info__blurb">
          <div class="gallery-info__hours">
            <span class="medium">Mon-Th:</span> &nbsp;&nbsp; 9 a.m. - 7 p.m.<br> 
            <span class="medium">Friday: </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 9 a.m. - 5 p.m.<br> 
            <span class="medium">Saturday:</span> &nbsp;1 p.m. - 5 p.m.           
          </div>
        </div>
        <div class="gallery-info__action">
          <a href="http://www.library.virginia.edu/map/#!/directions/special-collections">Directions</a>
          <a href="http://www.virginia.edu/parking/visitor/generalvisitors.html" class="action__secondary">Find Parking</a>
        </div>
      </div>
      <div class="gallery-info__item" self="sm-full size-1of2">
        <div class="gallery-info__title">Bring your group on a tour</div>
        <div class="gallery-info__blurb">
          Even though this exhibition has ended, Special Collections offers tours for classes or groups. Private tours can be tailored based on your group’s needs.
        </div>
        <div class="gallery-info__action">
          <!-- a href="{{ site.baseurl }}/book-tour/">Book a tour</a -->
          <a href="http://small.library.virginia.edu/services/instruction/">Class or group tour</a>
        </div>
      </div>
    </div>
    <div layout="rows stretch-center">
      <div class="gallery-info__item" self="sm-full size-1of2">
        <div class="gallery-info__title">Image gallery</div>
        <div class="gallery-info__blurb">
          Browse through selected items on view in the exhibition.
        </div>
        <div class="gallery-info__action">
          <a href="{{ site.baseurl }}/images">View images</a>
        </div>
      </div>
      <div class="gallery-info__item" self="sm-full size-1of2">
        <div class="gallery-info__title">Events</div>
        <div class="gallery-info__blurb">
          <strong>Next up:</strong> (No events currently scheduled.) 
        </div>
        <div class="gallery-info__action">
          <a href="http://cal.lib.virginia.edu/calendar/events/?cid=4299&t=d&d=0000-00-00&cal%5B%5D=4299">View all Library events</a>
        </div>
      </div>
    </div>
  </div>
</section>
