<nav class="navigation" layout="row center-left" role="navigation" aria-label="primary menu">
 
  <div self="left">
    <a href="{{ site.baseurl }}/" class="nav-logo">Faulkner</a>
  </div>
  
  {% for page in site.pages %}
    {% if page.title %}
      <div class="navigation__item">
        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      </div>
    {% endif %}
  {% endfor %}

  <!-- Temporary Navigation Items -->
  <div class="navigation__item">
    <a href="#">Visit</a>
  </div>
  <div class="navigation__item">
    <a href="#">News</a>
  </div>
  <div class="navigation__item">
    <a href="#">Book a tour</a>
  </div>
  
 
    
</nav>