<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta name="description" content="page description">
  <meta name="keywords" content="page keywords">
  <meta name="author" content="page author">

  <!-- Color the status bar on mobile devices -->
  <meta name="theme-color" content="#26334D">

  <meta name="msapplication-tap-highlight" content="no">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Web Starter Kit">
  <link rel="icon" sizes="192x192" href="{{ site.baseurl }}/images/touch/chrome-touch-icon-192x192.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Faulkner Exhibition">
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/images/touch/apple-touch-icon.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="{{ site.baseurl }}/images/touch/ms-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="#26334D">

  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-32x32.png" sizes="32x32" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="{{ site.baseurl }}/manifest.json">

  <script>document.documentElement.className = 'js';</script>
  <script src="//static.lib.virginia.edu/js/controllers/faulkner.js"></script>
  </style>
</head>
