<header id="rev-1" class="header" role="banner">
  <div layout="row stretch-stretch">
    <div layout="row center-center" class="header__left-section">
      <img src="{{ site.baseurl }}/images/banner.png" alt="poster for faulkner exhibition">
    </div>
    <div layout="column center-left" class="header__right-section">
      <div class="header__content">
        <span class="header__label">exhibition</span>
        <h1 class="header__title">Faulkner: Life and Works</h1>
        <p class="header__supporting-text">
          An exhibition surveying one of the great archives of American literature: 
          the University of Virginia’s William Faulkner collections. From the holdings 
          of the Albert and Shirley Small Special Collections Library
        </p>
        <div class="header__date">February 6, 2017 - July 7, 2017</div>
        <p class="header__location">
          Main Gallery, Harrison Institute and Small Special <br>
          Collections Library, University of Virginia
        </p>
      </div>
    </div>
  </div>
</header>