<nav class="headroom navigation" layout="row center-left" role="navigation" aria-label="primary menu">
 
  <div self="left">
    <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo.svg" class="navigation__logo" alt="University of Virginia Library logo"></a>
  </div>
  
  {% for page in site.pages %}
    {% if page.title %}
      {% unless page.exclude_from_nav %}
        <div class="navigation__item">
          <a class="navigation__link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </div>
      {% endunless %}
    {% endif %}
  {% endfor %}

  <!-- Temporary Navigation Items -->
  <div class="navigation__item">
    <a class="navigation__link" href="#">Visit</a>
  </div>
  <div class="navigation__item">
    <a class="navigation__link" href="#">News</a>
  </div>
  <div class="navigation__item">
    <a class="btn btn--primary" href="{{site.baseurl }}/book-tour">Book a tour</a>
  </div>
  
</nav>