<section class="gallery-news" aria-labelledby="news">
  <h2 id="news" class="section__heading dark">In the news</h2>
  <div class="container">
    <div layout="rows stretch-center">
      {% for article in site.news %}
      <a self="sm-full md-half size-1of2" href="{{article.link}}" class="gallery-news__item">
        <div class="gallery-news__label">{{article.source}}</div>
        <div class="gallery-news__title">{{article.title}}</div>
        <div class="gallery-news__blurb">
          {{article.blurb}}
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</section>


