.section__heading {
  text-align: center;
  font-size: 32px;

  &.dark {
    color: #1A1A1A;
  }

  &.light {
    color: white;
  }
}

.gallery-information {
  background-color: #26334D;
}

.gallery-news {
  background-color: #F2F2F2;
}

