.page__content {
  padding-top: 100px;
}

.page__quote {
  font-size: 28px;
  line-height: 1.5;
  margin: 0 auto;
  padding-top: 0px;
  text-align: center;
  width: 80%;
}

.page__quote-author {
  color: #8F8F8F;
  font-weight: 700;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
  padding-top: 10px;
  line-height: 1.5;
}

.image__title {
  font-size: 16px;
  font-weight: 500;
}

.image__caption {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.image__media {
  margin: 50px 0px;
}

.gallery {
  margin-bottom: 80px;
}