.page__content {
  padding-top: 100px;
}

.page__quote {
  font-size: 28px;
  line-height: 1.5;
  margin: 0 auto;
  padding-top: 0px;
  text-align: center;
  width: 80%;
}

.page__quote-author {
  color: #8F8F8F;
  font-weight: 700;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
  padding-top: 10px;
  line-height: 1.5;
}

.image__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  padding-bottom: 10px;
}

.image__caption {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.image__media {
  margin: 50px 0px;
}

.gallery {
  margin-bottom: 80px;
}

.image__info {
  padding: 25px;
  max-width: 500px;
}

.copyright-notice {
  padding-top: 35px;
}

.image__media {
  img {
    width: 670px;
  }
}
@media screen and (max-width: 52em) {
  .reverse-second {
    flex-direction: column-reverse;
  }
  .image__media {
    margin: 35px 0px 0px 0px;
  }
  .image__info {
    max-width: 500px;
     padding: 5px;
  }
  .page__quote {
    width: 100%;
  }
}