body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

#content {
  padding-top: 66px;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 80%;
}