/*
==========================================================
                     SITE FOOTER
==========================================================
*/

.mega-footer {
  padding-bottom: 24px;
}
.mega-footer--link-list {
  display: block;
  list-style: none;
  margin-left: 0px;

  a {
    display: block;
  }
}