/*
==========================================================
                     SITE FOOTER
==========================================================
*/

.mega-footer {
  padding: 24px 0px;
}

.mega-footer--link-list {
  display: block;
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  a {
    display: block;
  }

}