/*
==========================================================
                     SITE HEADER
==========================================================
*/

nav {
  position: fixed;
  height: 66px;
  background-color: white;
  padding: 0px 24px;
  box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.08);
}

.navigation__item {
  font-weight: 500;
}