/*
==========================================================
                     SITE HEADER
==========================================================
*/

nav {
  position: fixed;
  height: 66px;
  background-color: white;
  padding: 0px 24px;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.08);
  z-index: 2;
}

.navigation__item {
  font-weight: 400;
  margin-left: 2rem;
  color: $headingColour;
  .navigation__link {
    color: $headingColour;
    font-size: 16px;
    line-height: 62px;
    height: 62px;
    display: block;
    &:hover {
      color: #E3AD22;
    }
  }
}

.navigation__logo {
  vertical-align: text-top;
  width: 90px;
}

.header {
  margin-top: 66px;
}

.header__left-section {
  background-color: #F2F2F2;
  min-height: 556px;
}

.header__right-section {
  // background-color: #30BFB3;
  background-color: #F9D567;
  // min-height: 556px;
}

.header__content {
  padding: 30px;
}

.header__label {
  color: #333D43;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0;
}

.header__title {
  font-size: 45px;
  color: #333D43;
  margin-top: 0;
}

.header__supporting-text {
  font-size: 21px;
  color: #333D43;
}

.header__date {
  font-size: 24px;
  color: #333D43;
  font-weight: 500;
}

.header__location {
  font-size: 16px;
  color: #333D43;
  font-weight: 400;
  line-height: 1.5;
}

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}

@media screen and (max-width: 40em) {
  .logo {
    display: none;
  }
  .header__left-section {
    display: none;
  }
  h1 {
    line-height: 4rem;
  }
}