<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <a href="#content" class="skip-nav">Skip to main content</a>

    {% include header.html %}

    <main id="content" role="main">
      <div class="container">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  <script async href="{{ site.baseurl }}/scripts/main.min.js"></script>
  <script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register("sw.js").then(function() {
      console.log("Service Worker Registered");
    });
  }
  </script>
  </body>

</html>